doctype html
html(lang='en')
  head
    title Form
    script(src='https://code.jquery.com/jquery-3.4.1.min.js')
    script(src="/js/send.js")
    script(src="https://unpkg.com/axios/dist/axios.min.js")
  body

  input#n1(type='text', placeholder='numero1' onkeypress='return valNum(event)')
  input#n2(type='text', placeholder='numero2' onkeypress='return valNum(event)')
  input#action(type='text', placeholder="Funcion" onkeypress='return valNum(event)')
  button#send Igual
  p#result