doctype html
html(lang='en')
  head
    title Form
    script(src='https://code.jquery.com/jquery-3.4.1.min.js')
    script(src="/js/send.js")
    script(src="https://unpkg.com/axios/dist/axios.min.js")
  body

  input#n1(type='number', placeholder='numero1')
  input#n2(type='number', placeholder='numero2')
  input#action(type='number', placeholder="Funcion")

  p#result 
  button#send Enviar