<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- <script src="../public/"></script> -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>pruebas</title>
</head>
<body>

    <button id="ok">click</button>
    <script>
        var datos;

        function mandarDatos(url,dato) {
            axios.get(url,dato)
            .then((response) => {datos = response; })
            .catch((error) => { datos =  error ;})
            .then(() => { })

            console.log(datos);
            
        }

        var h = document.getElementById("ok");

        h.addEventListener("click", function(){
            mandarDatos("http://localhost:3000/math", {"action": 1, "a": 2,"b": 15});
        })
    </script>
</body>
</html>